<div class="main_page">
    <div class="wrapper">
        <user-info hide-section="hide.userInfo" show-bookmarks="showBookmarks" hide-all="hideAll">
        </user-info>
        <div class="content">
            <div class="header">
                <div class="logo">
                    <h1 class="heading_ref" ng-click="hideAll()">Some Times</h1>
                </div>
                <p>Handy news-service to keep track last trends and events of a world</p>
            </div>
            <div class="main_section">
                <div class="page_body container">
                    <select-section show-section="showSection" show-section-news="showSectionNews">
                    </select-section>
                    <news-list is-displayed="!hide.sectionNews" update-news-list="updateNewsList"
                               articles="sectionArticles">
                    </news-list>
                    <bookmarks-list is-displayed="!hide.bookmarks"></bookmarks-list>
                </div>
            </div>
        </div>
        <footer-section show-login="hide.userInfo"></footer-section>
    </div>
    <spinner hide-gif="hide.spinnerGIF" hide-css="hide.spinnerCSS"></spinner>
</div>
