<form name="chooseSectionForm" ng-submit="chooseSection(currentSection)" class="form-inline text-center">
    <fieldset class="form-group">
        <select ng-model="currentSection" class="form-control" ng-options="news for news in [sections[0], sections[1], sections[2], sections[3],
                                                                                            sections[4], sections[sections.length - 1]]" title="Stars" required>
            <option value="">Choose news section</option>
        </select>
    </fieldset>
    <input type="submit" class="btn btn-primary select_button" value="Submit" />
</form>