@font-face {
    font-family: "Diploma";
    src: url("../../resources/fonts/Diploma/Diploma.eot");
    src: url("../../resources/fonts/Diploma/Diploma.eot?#iefix")format("embedded-opentype"),
    url("../../resources/fonts/Diploma/Diploma.woff") format("woff"),
    url("../../resources/fonts/Diploma/Diploma.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "AmericanTextCRegular";
    src: url("../../resources/fonts/AmericanTextCRegular/AmericanTextCRegular.eot");
    src: url("../../resources/fonts/AmericanTextCRegular/AmericanTextCRegular.eot?#iefix")format("embedded-opentype"),
    url("../../resources/fonts/AmericanTextCRegular/AmericanTextCRegular.woff") format("woff"),
    url("../../resources/fonts/AmericanTextCRegular/AmericanTextCRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "ACLineRegular";
    src: url("../../resources/fonts/ACLineRegular/ACLineRegular.eot");
    src: url("../../resources/fonts/ACLineRegular/ACLineRegular.eot?#iefix")format("embedded-opentype"),
    url("../../resources/fonts/ACLineRegular/ACLineRegular.woff") format("woff"),
    url("../../resources/fonts/ACLineRegular/ACLineRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "BerenisADFProRegular"; */
@font-face {
    font-family: "BerenisADFProRegular";
    src: url("../../resources/fonts/BerenisADFProRegular/BerenisADFProRegular.eot");
    src: url("../../resources/fonts/BerenisADFProRegular/BerenisADFProRegular.eot?#iefix")format("embedded-opentype"),
    url("../../resources/fonts/BerenisADFProRegular/BerenisADFProRegular.woff") format("woff"),
    url("../../resources/fonts/BerenisADFProRegular/BerenisADFProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "BerenisADFProBold"; */
@font-face {
    font-family: "BerenisADFProBold";
    src: url("../../resources/fonts/BerenisADFProBold/BerenisADFProBold.eot");
    src: url("../../resources/fonts/BerenisADFProBold/BerenisADFProBold.eot?#iefix")format("embedded-opentype"),
    url("../../resources/fonts/BerenisADFProBold/BerenisADFProBold.woff") format("woff"),
    url("../../resources/fonts/BerenisADFProBold/BerenisADFProBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "BerenisADFProItalic"; */
@font-face {
    font-family: "BerenisADFProItalic";
    src: url("../../resources/fonts/BerenisADFProItalic/BerenisADFProItalic.eot");
    src: url("../../resources/fonts/BerenisADFProItalic/BerenisADFProItalic.eot?#iefix")format("embedded-opentype"),
    url("../../resources/fonts/BerenisADFProItalic/BerenisADFProItalic.woff") format("woff"),
    url("../../resources/fonts/BerenisADFProItalic/BerenisADFProItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "BerenisADFProBoldItalic"; */
@font-face {
    font-family: "BerenisADFProBoldItalic";
    src: url("../../resources/fonts/BerenisADFProBoldItalic/BerenisADFProBoldItalic.eot");
    src: url("../../resources/fonts/BerenisADFProBoldItalic/BerenisADFProBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../../resources/fonts/BerenisADFProBoldItalic/BerenisADFProBoldItalic.woff") format("woff"),
    url("../../resources/fonts/BerenisADFProBoldItalic/BerenisADFProBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
