$link_hover: #2DE0E0;
$link: #B3B3B3;

html, body {
    height: 100%;
}

.main_page {
    height: 100%;
    display: block;
}

body > div {
    height: 100%;
}

header {
    position: fixed;
    width: 100%;
    height: 100%;
}

.background {
    background-color: black;
}

.mbYTP_wrapper {
    height: 700px;
    width: 100%;
    &::before {
        display: block;
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: rgba(#000, 0.6);
        z-index: 10;
    }
}

.wrapper {
    position: relative;
    min-height: 100%;
}

.content {
    box-sizing: border-box;
    min-height: 100%;
    padding-bottom: 70px;
}

.header {
    position: relative;
    color: white;
    p {
        text-align: center;
        font: 18px "BerenisADFProRegular";
    }
}

.logo {
    text-align: center;
    width: 400px;
    margin: 0 auto;
    padding-top: 20%;
    transition: all 1s;
    img {
        cursor: pointer;
    }
}

.logo_top {
    padding-top: 10px;
}

.heading_ref {
    cursor: pointer;
    font: 60px "AmericanTextCRegular";
    margin: 0;
    transition: all .5s;
    &:hover {
        font-size: 70px;
        color: #AAA;
    }
}

.sub_heading_container, .no_bookmarks_msg {
    text-align: center;
    .sub_heading {
        font: 40px "AmericanTextCRegular";
    }
}

.no_bookmarks_msg {
    margin-top: 20%;
    .sub_heading {
        font: 50px "AmericanTextCRegular";
    }
}

.main_section {
    margin-top: 20px;
    position: relative;
    z-index: 30;
    color: white;
}

.select_button {
    background-color: #777;
    border-color: #fff;
    transition: all .5s;
    &:hover, &:focus, &.active, &.visited {
        background-color: #999;
        border-color: #fff;
    }
}

.list-group-item {
    color: #444;
    cursor: pointer;
    text-align: center;
    &:hover {
        background-color: #eee;
        border: 1px #eee solid;
    }
}

.topLink {
    border-radius: 3px;
}

.col-sm-6 {
    border-left: 1px gray solid;
    margin-bottom: 40px;
    box-sizing: border-box;
    padding-top: 10px;
}

.image_container {
    img {
        border: none;
        width: 190px;
        height: 126px;
    }
}

.publish_info {
    font-style: italic;
    position: absolute;
    bottom: 5px;
    z-index: 10;
    span:last-child{
        display: block;
    }
}

.list-group {
    width: 300px;
    margin: 10px auto;
}

.topLink.list-group-item {
    width: 200px;
    margin: 20px auto;
}

.form-inline {
    margin-bottom: 30px;
}

.footer {
    position: absolute;
    width: 100%;
    height: 50px;
    left: 0;
    bottom: 0;
    background-color: rgba(#000, 0.5);
    color: white;
}

.copyright {
    text-align: center;
    a, .switch_page_ref {
        margin-right: 10px;
        display: inline-block;
        color: $link;
        &:hover {
            color: $link_hover;
            text-decoration: none;
            cursor: pointer;
        }
    }
    .right_ref {
        margin-right: 0;
    }
    .name {
        margin: 5px 0 0 0;
    }
}

.clear {
    clear: both;
}
