<!DOCTYPE html>
<html>
<head>
    <title>Some Times</title>
    <link rel="shortcut icon" href="resources/graphic/favicon.png" type="image/png">
    <!--Third-party Libraries-->
    <link href="styles/fonts.css" rel="stylesheet" />
    <link href="dest/libs.min.css" rel="stylesheet" />
    <link href="dest/styles.css" rel="stylesheet" />
    <script src="dest/libs.min.js"></script>
    <!--Application scripts-->
    <script src="dest/bundle.js"></script>
</head>
<body ng-app="app">
    <player></player>
    <div ng-view></div>
</body>
</html>
